@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Regular.ttf") format("ttf");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Medium.ttf") format("ttf");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-SemiBold.ttf") format("ttf");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Bold.ttf") format("ttf");
}
