// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home {
  height: 100%;
}

.shuffleContainer {
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
}

.primaryTitle {
  font-size: 18px;
  line-height: 24px;
}

.secondaryTitle {
  font-size: 15px;
  line-height: 18px;
}

.showRecipe {
  overflow: hidden;
  transition: bottom 0.5s ease-in-out, top 0.5s ease-in-out;
  height: 100%;
  position: absolute;
  width: 50%;
  z-index: 2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 64px;
  bottom: 100%;
  top: 100%;
}

.showRecipeActive {
  bottom: unset !important;
  top: 0 !important;
}

.showRecipeLeft {
  left: 0;
}

.showRecipeRight {
  left: 50%;
}
