.showRecipe {
  overflow: auto;
  transition: bottom 0.5s ease-in-out, top 0.5s ease-in-out;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: white;
  padding: 64px;
  bottom: 100%;
  top: 100%;
@media (max-width: 600px) {
    transition: left 0.5s ease-in-out, right 0.5s ease-in-out, bottom 0.5s ease-in-out, top 0.5s ease-in-out;
  }
}

.showRecipeActive {
  bottom: unset;
    top: 0;
}

.showRecipeLeft {
  left: 0%;
    right: 50%;
  
    @media (max-width: 600px) {
      width: 100%;
      left: 0% !important;
      right: 0% !important;
        top: 0% !important;
        bottom: 0% !important;
      }
}

.showRecipeRight {
  left: 50%;
    right: 0%;
  
    @media (max-width: 600px) {
      width: 100%;
      left: 0% !important;
      right: 0% !important;
      top: 0% !important;
        bottom: 0% !important;
      }
      }
      
      .closeButton {
        position: absolute;
        top: 16px;
        right: 16px;
}
